LAP_VISION_F1_HOST=0.0.0.0
LAP_VISION_F1_PORT=8010
LAP_VISION_F1_WORKERS=2
LAP_VISION_F1_INTERNAL_TOKEN=dev-token
LAP_VISION_F1_FASTF1_CACHE_DIR=./var/fastf1-cache
LAP_VISION_F1_DATA_CACHE_DIR=./var/data-cache
